<header class="bg-danger">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">POKELIBRARY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/Pokemon">Pokemon</a>
                    <a class="nav-link" href="/Berris">Berris</a>
                    <a class="nav-link" href="/Items">Items</a>
                    <a class="nav-link" href="/Abilities">Abilities</a>
                    <a class="nav-link" href="/Locations">Locations</a>
                    <a class="nav-link" href="/Moves">Moves</a>
                </div>
            </div>
        </div>
    </nav>
</header>