<nav class="navbar bg-danger" data-bs-theme="dark">
    <div id="links" class="container-fluid">
        <a routerLink="Pokemons" routerLinkActive="active" class="navbar-brand">Pokemons</a>
        <a routerLink="Abilites" routerLinkActive="active" class="navbar-brand">Abilites</a>
        <a routerLink="Locations" routerLinkActive="active" class="navbar-brand">Locations</a>
        <a routerLink="Berries" routerLinkActive="active" class="navbar-brand">Berries</a>
        <a routerLink="Moves" routerLinkActive="active" class="navbar-brand">Moves</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>